.header {
    background-color: #343a40;
}

.header__row {
    display: flex;
    height: 60px;
    align-items: center;
}

.header__logo {
    height: 60%;
}

.header__logo img {
    height: 100%;
}

.header__menu {
    display: flex;
    height: 100%;
    align-items: stretch;
    margin-left: 3em;
}

.menu__body {
    display: flex;
    align-items: stretch;
    height: 100%;
}

.menu__element {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    font-size: large;
    color: aliceblue;
    transition: 300ms;
    text-decoration: none;
}

.menu__element:hover {
    background-color: #4b535a;
    cursor: pointer;
}