.button__text {
    font-weight: bold;
}

.button--like {
    height: 100%;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    transition: 500ms;
    background-color: #b4c3d0;

}

.button--like > * {
    color: black;
}

.button--like:hover {
    background-color: #d4a2b9;
    cursor: pointer;
}

.button--liked {
    height: 100%;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    transition: 500ms;
    background-color: #c71166;
}

.button--liked > * {
    color: aliceblue;
}

.button--liked:hover {
    background-color: #c71166;
    color: aliceblue;
    cursor: pointer;
}
