.button{
    margin-top: 70px;
    margin-bottom: 100px;
    padding: 30px;
    border-radius: 15px;
    text-decoration: none;
    color: black;
    background-color: rgba(180, 195, 208, 0.3);
    box-shadow: 0 0 0 0 rgba(180, 195, 208, 0.3);
    font-size: xx-large;
    font-weight: bold;
}

.button:hover{
    cursor: pointer;
    margin-top: 40px;
    padding: 50px;
    border-radius: 30px;
    background-color: rgba(180, 195, 208, 0.15);
    box-shadow: 0 0 30px 30px rgba(180, 195, 208, 0.15);
    transition-timing-function: cubic-bezier(.16,-0.03,.18,1.03);
    transition-duration: 1s;
}

.button:not(:hover){
    transition-duration: 500ms;
}