.text {
    font-weight: bold;
}

.square {
    height: 60px;
    width: 60px;
    border-radius: 15px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    transition: 300ms;
    background-color: rgba(56, 78, 120, 0.2);

}

.square > * {
    color: black;
}

.square:hover {
    background-color: rgba(212, 152, 180, 0.5);
    cursor: pointer;
}

.right-side{
    height: 100%;
    width: 60px;
    display: flex;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    align-items: center;
    justify-content: center;
    font-size: large;
    transition: 300ms;
    background-color: #c4527a;
}

.round{
    height: 60px;
    width: 60px;
    display: flex;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    font-size: large;
    transition: 500ms;
    background-color: #c4527a;
}

.right-side > *, .round > *{
    color: aliceblue;
}

.right-side:hover, .round:hover{
    background-color: #c4527a;
    color: aliceblue;
    cursor: pointer;
}

.buttonWrapper{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 75px;
    height: 100%;
}